<% @page_title = "Staff Access" %>
<% @page_description = "New Description" %>


<div class="full">
	<div class="wrap text-center">
		<h1>Get DNA Tested Today Help Center</h1>
		<h3>Welcome, <%= current_user.name %></h3>
	</div>
</div>
