<% @page_title = "DNA Testing Options" %>


<ul uk-accordion="multiple: true" class="testing-options">
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Legal Paternity Testing</a>
        <div class="uk-accordion-content">
            <p class="price">$325.00</p>
            <p>
            Legal DNA/Paternity Testing refers to DNA testing that will be used for court purposes -- i.e., child support, custody cases, changing the name on a birth certificate.
                During this process, a member of our staff will perform the test, while maintaining the required chain of custody.
            You will be provided with a court admissible document.
            </p>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href="#">Non-Legal Paternity Testing</a>
        <div class="uk-accordion-content">
            <p class="price">$269.00</p>
            <p>Non-Legal Paternity Testing is for curiosity purposes only, and can not be used in any legal matters or for legal purposes.
            We mail the recipient a DNA Testing kit, which includes instructions, and a pre-paid postage envelope to send the testing samples to our testing lab.
            The process can be done in the comfort, convenience, and privacy of your own home.</p>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href="#">Avuncular DNA Testing</a>
        <div class="uk-accordion-content">
            <p class="price">$425.00</p>
            <p>An Avuncular DNA test is performed to determine if an individual is the biological aunt or uncle of a child. It can also be used in the place of a DNA Paternity test, to confirm a genetic relationship if the alleged father is unavailable or deceased. </p>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href="#">DNA Siblingship Testing</a>
        <div class="uk-accordion-content">
            <p class="price">$425.00</p>

                <p>Siblingship DNA testing can determine if two children share one or both parents.
                    It starts with the analysis of known relatives, and is an indirect way to determine biological relationships when an alleged father is unavailable for a paternity test.
                    <!-- The results may be used as proof in Social Security cases, and other inheritance claims. -->
                </p>

                <p>
                If Siblings 1 and 2 do not share a mother, but want to know if they share a biological father, <b>a half siblingship test is performed.</b>
                        <!-- <br> -->
                If Siblings 1 and 2 share a biological mother, but are unsure if they share a biological father, <b>a full siblingship test is performed.</b><br>
                In the test, the siblings’ DNA profiles are compared to see how much of their DNA could have come from a common father.
                </p>
                <span>
                Participation of the mother(s) is encouraged to help exclude the mother’s contribution to the children’s DNA.
                Siblingship tests require more analysis, and can be more costly and time consuming without the mother’s participation.
              </span>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href="#">Grand Paternity Testing</a>
        <div class="uk-accordion-content">
            <p class="price">$425.00</p>
            <p>A grandparentage test is used to determine whether a person is the biological grandparent of a child -- usually used when the parent of the child is not available for testing.</p>

                <p><b>Two types of Grand Paternity testing:</b><br>
                <b>Single Grandparent DNA Analysis:</b><br>
                This DNA test includes 1 grandparent, 1 grandchild, and parent (optional, but strongly suggested). The conclusive range for DNA results are either greater than 90% inclusion, or less than 10% exclusion probabilities.</p>

                <p><b>Duo Grandparent DNA Analysis:</b><br>
              This DNA test includes BOTH grandparents, 1 child, and parent (optional, but strongly suggested). When both alleged grandparents are included, results are the most accurate, and can indicate greater than 99.99% probability (for inclusions), or 100% (for exclusions).</p>

            <span>Samples are collected at home or at a collection center. Results will be available within 5-10 Business Days.</span>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href="#">Twin Zygosity DNA Testing</a>
        <div class="uk-accordion-content">
            <p class="price">$425.00</p>
            <p>Twin Zygosity DNA Testing is used to determine if twins are identical or fraternal based on a simple DNA test.</p>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href="#">DNA Profiling Test</a>
        <div class="uk-accordion-content">
            <p class="price">$165.00</p>
            <p>DNA profiling allows individuals to obtain a record of their genetic profile —- a unique combination of 16 markers, found in their DNA, that serves as a permanent genetic ID.</p>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href="#">Home Paternity DNA Test Kit</a>
        <div class="uk-accordion-content">
        </div>
    </li>
</ul>
