<div class="side-bar">
  <nav class="menu">
		<ul class="side-menu">
			<li><%= link_to 'Home', home_path, class: 'sm-link' %></li>
			<li><%= link_to 'Testing', testing_path, class: 'sm-link' %></li>
			<li><%= link_to 'Locations', states_path, class: 'sm-link' %></li>
			<li><%= link_to "FAQ's", faq_path, class: 'sm-link' %></li>
		</ul>
  </nav>
</div>

