$blue: #2b9fdf;
$dark: #393939;
$gray: #4d4d4d;
$dk-blue:#0f6da8;

$f4: #f4f4f4;
$f9: #f9f9f9;

$btn1: #3dfbfd;
$btn2: #33acf3;

$open: 'Open Sans', sans-serif;
$monte:'Montserrat', sans-serif;

$sec-pad: 50px 0;
